.page-container {
    margin: 65px 100px 40px 100px;
    width: 1280px;
}
.accent-color {
    color: #4BCAFF;
}
.page-name{
    color: #000000;
    width: 334px;
    height: 79px;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}
.menu-list{
    display: flex;
    width: 1280px;
    height: 72px;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
    list-style-type: none;
}
.menu-item-link-current{
    background-color: #222F3A;
}
.menu-item-link{
    list-style-type: none;
    text-align: center;
    padding: 20px 35px 20px 35px;
    width: 204px;
    height: 27px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.sidebar-menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 0;
    margin: 0;
}
.sidebar-item-link {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    width: 106px;
    height: 27px;
    list-style-type: none;
    color: #495863;
    padding-left: 40px;
}
.sidebar-item {
    color: #495863;
}
.sidebar-item-link-current {
    background-color: #DBDBDB;
    padding: 27px 118px 27px 76px;
    color: #35444F;
}
.link-container {
    display: flex;
    padding-top: 48px;

}
.image-section{
    display: flex;
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    justify-content: center;
    align-items: center;
}
.page-information {
    padding-left: 53px;
    padding-bottom: 54px;

}
.page-text {
    width: 885px;
    height: 120px;
    padding-top: 35px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    color: #0C1927;
    width: 875px;
    height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.footer-list-item {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}
.footer-text {
    width: 190px;
    height: 69px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-right: 40px;
}
.footer-list-item-link {
    color: #0C1927;
}
.footer-list-item-link-current {
    padding-bottom: 13px;
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}